.hero-secondary {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 0 auto;
}
.page-title {
    font-size: 55px;
    color: #fce138;
    margin-bottom: 35px;
    padding: 0px 80px 15px 80px;
    border-bottom: 4px solid;
    display: inline-block;
    font-style: italic;
    font-weight: normal;
}
.terms-of-use {
    margin: 30px auto;
    width: 80%;
    color: #024e76;
}
.terms-of-use h3 {
    font-size: 25px;
    margin: 20px 0 20px 0
}
.terms-of-use p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}
ul {
    margin: 15px 20px;
}
li {
    color: #39a6b2;
    margin-top: 10px;
}